p {
  
}

#Resume {
  display: relative;
  padding: 30px;
 
}

#ContactInfo {
  right: 20% !important;
  left: 80% !important;
  padding-bottom: 5px;

}

#title {
 border-bottom: 3px solid #000; 
 padding-top: 2px;
 padding-bottom: 2px;
}

#Photo {
 position: absolute;
 top: 0px;
 right: 0px;
}
